$white: #FFFFFF;
$black: #000000;
$colors: (
  'neutral': (
    25: #FDFDFD,
    50: #FAFAFA,
    100: #F5F5F5,
    200: #E9EAEB,
    300: #D5D7DA,
    400: #A4A7AE,
    500: #717680,
  ),
  'primary': (
    100: #F3EBFF,
    200: #8B32FF,
    300: #6600EB,
    400: #160131,
  ),
);